<%- include('../_layouts/adminheader/adminheader') %>

<h2 class="page-title">Add content</h2>
<a href="/engadmin/engprice" class="btn btn-primary">Back to all content page</a>
<br><br>

<form method="post" action="/engadmin/engprice/add-engklipp" enctype="multipart/form-data">



<br>
<div class="form-group">
<label for="">CUT PRICE</label>
<input class="form-control"   name="first" value="<%= first %>" placeholder="title">
</div>

<div class="form-group">
<label for="">HAIR COLOR PRICE</label>
<input name="second" class="form-control"    placeholder="pris"><%= second%> 
</div>

<div class="form-group">
<label for="">EYEBROW PLUCKING PRICE</label>
<input class="form-control"  name="third"  placeholder="title"><%= third %>
</div>


<button class="btn btn-default">Submit</button>
</form>





<%- include('../_layouts/adminheader/adminfooter') %>